@model CreateKullaniciViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Registration Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page" style="background-image: url('@Url.Content("~/images/loginbackground.jpg")'); background-size: cover;">
    <div class="register-box">
        <div class="register-logo">
            <a href="" style="color:aliceblue"><b>IT Helper</b></a>
        </div>

        <div class="card">
            <div class="card-body register-card-body" style="border-radius: 60px">
                <p class="login-box-msg">Yeni Üyelik Oluştur</p>

                <form asp-controller="Login" asp-action="Register" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        <input asp-for="KullaniciAdi" type="text" class="form-control" placeholder="İsim">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="KullaniciSoyadi" type="text" class="form-control" placeholder="Soyisim">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        <span asp-validation-for="KullaniciSoyadi" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="KullaniciMail" type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <span asp-validation-for="KullaniciMail" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="KullaniciSifresi" type="password" class="form-control" placeholder="Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                         

                    </div>
                    <div class="input-group mb-3">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        <span asp-validation-for="KullaniciSifresi" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Şifreyi yeniden giriniz">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    <a href="#">Şartları</a> kabul ediyorum
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Kayıt Ol</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <a href="~/Login/Index/" class="text-center">Zaten bir hesaba sahibim</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>


